<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Motoristas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-container">
        <h1>Relatório de Motoristas</h1>

        <form>
            <label>Usuário</label>
            <input type="text" placeholder="Digite seu usuário">

            <label>Senha</label>
            <input type="password" placeholder="Digite sua senha">

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>