<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-container">
        <h1>Menu Principal</h1>

        <button onclick="location.href='/inspecao'">Inspeção</button>
        <button onclick="location.href='/abastecimento'">Abastecimento</button>
        <button onclick="location.href='/downtime'">Downtime</button>
        <button onclick="location.href='/'">Sair</button>
    </div>
</body>
</html>